amqp-example-project/src/main/app/fallback_address.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    
	<flow name="Send_Message_Direct_wFallbackAddress" doc:name="Send_Message_Direct_wFallbackAddress">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8090" doc:name="HTTP" path="fallback"/>
        <set-payload value="#['im a Direct message'.getBytes()]" doc:name="Set payload for amqp message as ByteArray"/>
        <amqp:outbound-endpoint responseTimeout="10000"  doc:name="Send Direct Message" connector-ref="amqp_config_wFallbackAddress" ref="amqp_direct_wFallback_endpoint"/>
        <set-payload value="#['Message Sended']" doc:name="Set payload as String"/>
        <logger message="Direct message with broker fallback sended" level="INFO" doc:name="Logger"/>
    </flow>
    
    <flow name="Recive_Message_wFallbackAddress" doc:name="Recive_Message_wFallbackAddress">
        <amqp:inbound-endpoint responseTimeout="10000"  doc:name="Recive Direct Message" connector-ref="amqp_config_wFallbackAddress" ref="amqp_direct_wFallback_endpoint"/>
        <byte-array-to-string-transformer doc:name="Transform bytearray message to String"/>
        <logger message="I recived a direct message with broker fallback from AMQP: #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>