demo/src/main/app/fanout_message.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	
	<flow name="Send_Message_Fanout" doc:name="Send_Message_Fanout">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8090" doc:name="HTTP" path="fanout"/>
        <set-payload value="#['im a Fanout message'.getBytes()]" doc:name="Set payload for amqp message as ByteArray"/>
        <amqp:outbound-endpoint responseTimeout="10000"  doc:name="Send Fanout Message" connector-ref="amqp_config" ref="amqp_fanout_endpoint"/>
        <set-payload value="#['Message Sended']" doc:name="Set payload as String"/>
        <logger message="Fanout message sended" level="INFO" doc:name="Logger"/>
    </flow>
    
    <flow name="Recive_Message_Fanout_1" doc:name="Recive_Message_Fanout_1">
        <amqp:inbound-endpoint responseTimeout="10000"  doc:name="Recive Fanout Message" connector-ref="amqp_config" ref="amqp_fanout_endpoint" />
        <byte-array-to-string-transformer doc:name="Transform bytearray message to String"/>
        <logger message="Recived message on Queue{fanoutQ} without Key: #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    
    <flow name="Recive_Message_Fanout_2" doc:name="Recive_Message_Fanout_2">
        <amqp:inbound-endpoint responseTimeout="10000"  doc:name="Recive Fanout Message" connector-ref="amqp_config" exchangeName="fanoutEx" exchangeType="fanout" queueDurable="true" queueName="fanoutQ2"/>
        <byte-array-to-string-transformer doc:name="Transform bytearray message to String"/>
        <logger message="Recived message on Queue{fanoutQ2} without Key: #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    
    <flow name="Recive_Message_Fanout_3" doc:name="Recive_Message_Fanout_3">
        <amqp:inbound-endpoint responseTimeout="10000"  doc:name="Recive Fanout Message" connector-ref="amqp_config" exchangeName="fanoutEx" exchangeType="fanout" queueDurable="true" queueName="fanoutQ3"/>
        <byte-array-to-string-transformer doc:name="Transform bytearray message to String"/>
        <logger message="Recived message on Queue{fanoutQ3} without Key: #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>